<footer class="text-center text-white" xmlns="http://www.w3.org/1999/html">
  <div class="container p-2">
    <div class="row fcol">
      <div class="col-md">
        <img ngSrc="/logo.png" alt="Logo" height="768" width="768">
      </div>
      <div class="col-md">
        <h4>Schronisko dla bezdomnych kotów "Koty"</h4>
      </div>
      <div class="col-md">
        <b>Adres</b><br>
        ul. Kocia 123,<br>
        01-234 Kotowo
      </div>
      <div class="col-md">
        <b>Kontakt</b><br>
        tel: <a href="tel:123-456-789">123-456-789</a><br>
        e-mail: <a href="mailto:koty@biuro.com">koty&commat;biuro.com</a>
      </div>
      <div class="col-md">
        <b>Administracja czynna w godzinach:</b><br>
        Pn-Pt 8:00 – 17:00<br>
        Sb 9:00-14:00
      </div>
    </div>
  </div>
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3">
    &copy; 2024 Copyright:
    <a class="text-white" href="https://w.prz.edu.pl/">Politechnika Rzeszowska</a>
  </div>
  <!-- Copyright -->
</footer>
