<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=""><img src="/logo.png" fetchPriority="high" alt="Logo" height="768" width="768"></a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="!isMenuCollapsed"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-collapse" [class.collapse]="isMenuCollapsed" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" >Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ogloszenia" >Ogłoszenia</a>
        </li>
      </ul>
      <form class="d-flex input-group w-auto">
        <input type="search" class="form-control" placeholder="Wpisz zapytanie" aria-label="Search" />
        <button class="btn btn-outline-primary" type="button">Wyszukaj</button>
      </form>
      <div class="ml-auto" *ngIf="isLoggedIn$ | async; else notLoggedIn">
        <button class="btn btn-outline-primary" (click)="logout()">Wyloguj</button>
        <i class="fas fa-user-circle" style="font-size: 24px; cursor: pointer; color: #FFFFFF" routerLink="/profile"></i>
      </div>
      <ng-template #notLoggedIn>
        <button class="btn btn-outline-primary" (click)="login()">Zaloguj się</button>
      </ng-template>
    </div>
  </div>
</nav>
