<div class="background">
  <div class="container ">
    <div class="row ">
      <!--<div class="col-md-2"></div>-->
      <div class="col-md-6 text-center title">
        <h1 class="playwrite-nz">Adoptuj kota z naszego schroniska i daj mu drugie życie!</h1>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row buttons">
      <div class="col-md-3 text-center">
        <button class="btn button-64" routerLink="/ogloszenia"><span class="text">Adoptuj</span></button>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-3 text-center">
        <button class="btn button-64" routerLink="#"><span class="text">Wspieraj</span></button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row text-center">
    <h2 class="questions">Najczęściej <span class="questions-font">zadawane pytania</span></h2>
  </div>
  <div class="row accordion">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div ngbAccordion>
        <div ngbAccordionItem [collapsed]="false">
          <h2 ngbAccordionHeader><button ngbAccordionButton class="accordion-title">Jak mogę pomóc schronisku?</button></h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur facilisis tempus. Mauris semper mi vel nulla mollis vestibulum. Aliquam pellentesque feugiat felis vel malesuada. Fusce suscipit porttitor justo ac congue. Etiam tempus nibh ac scelerisque feugiat. Nullam varius mattis nibh, at tempus purus laoreet eu. Aliquam eu volutpat sem. Integer finibus neque eu nisl congue laoreet a non odio. Vestibulum ornare turpis vitae odio faucibus congue sed ut velit. Nulla convallis nisi quis enim posuere tempor. Integer bibendum leo ornare iaculis blandit. Duis non metus dapibus, pharetra leo at, convallis tellus. Ut vehicula laoreet vulputate. Pellentesque ac lorem at urna ultrices feugiat. Praesent sed urna quis purus fermentum sodales a in diam.
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><button ngbAccordionButton class="accordion-title"><span>Co robić gdy znalazłem zwierzę?</span></button></h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur facilisis tempus. Mauris semper mi vel nulla mollis vestibulum. Aliquam pellentesque feugiat felis vel malesuada. Fusce suscipit porttitor justo ac congue. Etiam tempus nibh ac scelerisque feugiat. Nullam varius mattis nibh, at tempus purus laoreet eu. Aliquam eu volutpat sem. Integer finibus neque eu nisl congue laoreet a non odio. Vestibulum ornare turpis vitae odio faucibus congue sed ut velit. Nulla convallis nisi quis enim posuere tempor. Integer bibendum leo ornare iaculis blandit. Duis non metus dapibus, pharetra leo at, convallis tellus. Ut vehicula laoreet vulputate. Pellentesque ac lorem at urna ultrices feugiat. Praesent sed urna quis purus fermentum sodales a in diam.
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><button ngbAccordionButton class="accordion-title">Czego potrzebujemy dla naszych zwierząt?</button></h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur facilisis tempus. Mauris semper mi vel nulla mollis vestibulum. Aliquam pellentesque feugiat felis vel malesuada. Fusce suscipit porttitor justo ac congue. Etiam tempus nibh ac scelerisque feugiat. Nullam varius mattis nibh, at tempus purus laoreet eu. Aliquam eu volutpat sem. Integer finibus neque eu nisl congue laoreet a non odio. Vestibulum ornare turpis vitae odio faucibus congue sed ut velit. Nulla convallis nisi quis enim posuere tempor. Integer bibendum leo ornare iaculis blandit. Duis non metus dapibus, pharetra leo at, convallis tellus. Ut vehicula laoreet vulputate. Pellentesque ac lorem at urna ultrices feugiat. Praesent sed urna quis purus fermentum sodales a in diam.
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader><button ngbAccordionButton class="accordion-title">Jakie warunki trzeba spełnić do adopcji?</button></h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur facilisis tempus. Mauris semper mi vel nulla mollis vestibulum. Aliquam pellentesque feugiat felis vel malesuada. Fusce suscipit porttitor justo ac congue. Etiam tempus nibh ac scelerisque feugiat. Nullam varius mattis nibh, at tempus purus laoreet eu. Aliquam eu volutpat sem. Integer finibus neque eu nisl congue laoreet a non odio. Vestibulum ornare turpis vitae odio faucibus congue sed ut velit. Nulla convallis nisi quis enim posuere tempor. Integer bibendum leo ornare iaculis blandit. Duis non metus dapibus, pharetra leo at, convallis tellus. Ut vehicula laoreet vulputate. Pellentesque ac lorem at urna ultrices feugiat. Praesent sed urna quis purus fermentum sodales a in diam.
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

